/* Styling taken from the genius of Kevin Powell https://www.youtube.com/watch?v=X1dz0xRbSJc */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  -webkit-transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/heroimage.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.product {
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 15em;
  text-align: center;
}

.product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.product__image {
  margin: -5em 0 0 0;
}

@media (min-width: 45em) {
  .product {
    text-align: left;
    margin-bottom: 9em;
  }
  .product__title {
    margin: 0;
  }
  .product__image {
    float: right;
    width: 65%;
    shape-outside: url(../img/ch1.jpg);
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product.pic-left .product__image {
    float: left;
    shape-outside: url(../img/ch2.jpg);
    margin: 0 1em 0 -5em;
    shape-margin: 2em;
  }
}

/* Story Articles */
.ch-hero {  
  color: white;
  text-align: center;
  padding: 15em 0;
  max-height: 60vh;
  background: #222;
  background: url(../img/heroimage.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
}

.ch-hero.ch1 {
  background: url(../img/ch1.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}

.ch-hero.ch2 {
  background: url(../img/ch2.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}

.ch-hero.ch3 {
  background: url(../img/ch3.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}

.ch-hero .section-title {
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.ch-page {
    background: url(../img/panelstack.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center center;
    min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-height: 1em;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav a {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #f7b10a;
}

.nav a:hover {
  border-bottom: 2px #333 solid;
}

.story {
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 15em;
  text-align: left;
}

.story p {
  text-indent: 20px;
  color: #ebdec2;
}

.hero {
  --clr-accent: #faa700;
}

.ch-one {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.ch-two {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.ch-three {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}